*
{
	margin: 0;
	padding: 0;
}

/*----Navigation Bar------------------*/
#NavigationBar
{
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar-brand img
{
	height: 50px;
	padding-left: 30px;
	color: #fff!important;
}

.navbar-nav li
{
	padding: 0 10px;

}

.navbar-nav li a
{
	float: right;
	text-align: left;
}

#NavigationBar ul li a:hover
{
	color: #ffc107!important;
}

.navbar
{
	background: #EC407A!important;
}

.navbar-toggler
{
	border: none!important;
}

.nav-link
{
	color: #ffffff!important;
	font-weight: 600;
	font-size: 16px;
}


/*----Image Slider----*/
#slider
{
	width: 100%;
	
}

.carousel-caption
{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial!important;
}

.carousel-caption h5
{
	color: #fff;
	font-size: 42px;
}


/*----Top Blogs-------------------------*/
#Food
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #5555 

}

h1:
{
	text-align: center;
	color: #5555 !important ;
	padding-bottom: 10px;
}


* {
  box-sizing: border-box;
}

.coloumn {
  float: left;
  width: 33.33%;
  padding: 5px;
  position: relative;
}

.imgage-box {
  position: relative;
  width: 100%;
  max-width: 300px;
}


.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 80%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.imgage-box:hover .overlay {
  opacity: 1;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}


/*----------Price plan-------------------*/
#price
{
	padding: 40px 0;
	background: #efefef;
}
.single-price
{
	margin: 10px auto;
	display: inline;
	float: left;
	width: 100%;
	background-color: #fff;
	transition: 0.5s;
}
.single-price:hover
{
	box-shadow: 0 2px 20px #333;
}
.price-head
{
	background-color: #EC407A;
	display: inline;
	float:left;
	padding: 10px 5px;
	text-align: center;
	width: 100%;
	color: white;

}
.price-head h2
{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px;
	text-transform: uppercase;
}
.price-head p
{
	font-size: 25px;
	color: #000;
	font-weight: bold;
	line-height: 30px;
}
#price span
{
	font-size: 15px;
}
.price-content
{
	display: inline;
	float: left;
	width: 100%;
	padding: 0 15px;
}
.price-content ul li
{
	border-bottom: 1px solid #efefef;
	padding: 15px 10px;
	list-style: none;
}
ul li:last-child
{
	bolder: none;
}
.image-box
{
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
	margin: 10px auto;



}
.thumbnail
{
	display: block;
	float: center;
	max-width: 100%;
	height: auto;

}
.caption
{
	color:FFC107;
}
.checked {
  color: orange;
}

/*---- Team Members-----------------*/
#team
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #5555 

}

.container h1
{
	align: center;
	color: #5555 !important ;
	padding-bottom: 10px;
}
h1::after
{
	content:'';
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.profile-pic
{
	margin-top: 25px;

}
.profile-pic .img-box
{
	opacity: 1;
	display: block;
	position: relative;
}
.profile-pic .img-box img
{
	filter: grayscale(1);
}
.profile-pic .img-box img:hover
{
	filter: grayscale(0);
	cursor: pointer;
}
.profile-pic h2
{
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	color: #EC407A !important;


}
.profile-pic h3
{
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
}
#team .fa
{
	height: 25px;
	width: 25px;
	color: #007bff !important;
	background: #fff;
	padding: 4px;
	border-radius: 50%;
}
.img-box ul
{
	padding: 15px 0;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 50%;
	transform: : translateX(-50%);
	opacity: 0;
}
.img-box ul li
{
	padding: 5px;
	display: inline-block;
}
.img-box:hover ul
{
	opacity: 1;
}
.img-box ul, .img-box ul li
{
	transition: 0.5s;
}
